* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {

    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;

}

/* ------main div--------- */
.main {
    height: 100vh;
}

/* ---header --------*/
header {
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    right: 0px;
    overflow: hidden;
}

/* ----------header(Login button)------- */
.Loginbutton {
    color: black;
    margin-right: 15px;
    text-decoration: none;
}

/* -----Main content between Header and footer---- */
.content {

    position: absolute;
    top: 60px;
    bottom: 40px;
    left: 0px;
    right: 0px;
    overflow: auto;

}

/* --------part 1--------- */
.part1 {
    display: flex;

    border: 1px solid black;
    margin: 2%;

}

.part1first {
    width: 70%;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;

}

#hotelimage {
    margin-top: 2%;
    margin-bottom: 2%;
}

.part1second {
    width: 30%;
}

input {
    width: 60%;

}

/* ---------ALL Form element------------- */
input[type="number"] {
    margin-left: 63px;
}

input[name="name"] {
    margin-left: 65px;
}

input[name="fromdate"] {
    margin-left: 32px;
}

input[name="todate"] {
    margin-left: 51px;
}

input[name="price"] {
    margin-left: 76px;
}

input[type="submit"] {
    margin-left: 137px;
    width: 20%;
    padding: 2%;
    ;
}

label {
    margin-left: 20px;
}

input,
label {
    margin-top: 40px;

}

/* ------------end part 1-------- */

/* -----------part 2---------- */
.part2 {
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
}

.part2 h2 ,.part2 p,.part2 h5{
    margin-bottom: 20px;
}
.part2 li{
    margin-left: 40px;
}


/* -----Footer(Middle part)---Part B-------------- */

.partB {
    font-size: 10px;
    margin-top: 25px;
}

/* -------footer(contactbutton)---------- */
.contactbutton {
    color: black;
    text-decoration: none;

}

/* --footer------ */

footer {

    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    height: 40px;
    left: 0px;
    right: 0px;
    overflow: hidden;


}