html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}
/* ------main div--------- */
.main{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* -------------LOADER--------------- */

.loader{
    width: 70px;
    height: 70px;
    border: 12px solid #f3f3f3 ;
    border-top-color:#444444 ;
    border-radius: 50%;
    animation-name: circleloader;
    animation: spin 2s linear infinite;
}

@keyframes circleloader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
/* -------------- animation adding-------- */
